.card {
  margin: 5%;
}

.allMovies {
  background-image: url("./images/wp4923981.jpeg");
  width: 100%;
}

/* MOVIE1 */

.movie1 {
  background-image: url("./images/wp5685957.jpeg");
  background-position: center;
  color: wheat;
  height: 758px;
  padding: 5%;
}
.pMovieOne {
  width: 50%;
  font-size: medium;
}
.rating {
  font-size: 14px;
}

.genres {
  font-size: 14px;
  border: 2px solid wheat;
  border-radius: 10px;
  width: 15%;
}

.timeMovie {
  font-size: 14px;
}

.premiered {
  font-size: 14px;
  display: block;
  word-spacing: 2%;
  color: rgb(17, 16, 16);
}
/* MOVIE1 END */

/* MOVIE2 */
.movie2 {
  background-image: url("./images/personOfInterest.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  height: 758px;
  padding: 5%;
}
.premiered {
  color: white;
}
.premieredMovie2 {
  font-size: 14px;
  display: block;
  word-spacing: 2%;
  color: white;
}
/* MOVIE2 END */

/* MOVIE3 */
.movie3 {
  background-image: url("./images/filmy-serial-ukushennaya-7208.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: wheat;
  height: 758px;
  padding: 5%;

}

.premiered {
  color: wheat;
}
.premieredMovie2 {
  font-size: 14px;
  display: block;
  word-spacing: 2%;
  color: white;
}
/* MOVIE3 END */
